body {
  letter-spacing:.1em;
  font-family: 
    "Gotham Rounded SSm A",
    "Gotham Rounded SSm B",
    "Helvetica Neue",
    Helvetica,
    Arial,
    sans-serif
}

#root {
  position: absolute;
  width: 100% !important; 
  height: 100% !important;
}